# SQL CREATE - INSERT SCRIPT GENERATOR

In [1]:
from table_sql import table_to_sql

In [2]:
# table_to_sql("<TABLE NAME>"" , "<IMAGE PATH>"")
tsql = table_to_sql("PRODUCT" , "table.png") 
tsql.img_to_txt()

In [3]:
# add seperators to split each word in the text file
# clean the text file so that each row is in one line.tsql.txt_preprocess(sep=['|'])  #refer the "example.txt" file

In [4]:
tsql.sql_create()
tsql.sql_insert()

Pno VARCHAR(4) PRIMARY KEY
Description VARCHAR(20)
"Profit%" INTEGER
Unit VARCHAR(10) DEFAULT 'Piece'
QtyOnHand INTEGER
ReorderLv1 INTEGER
SellPrice INTEGER
CostPrice INTEGER
CREATE TABLE PRODUCT(
	Pno VARCHAR(4) PRIMARY KEY,
	Description VARCHAR(20),
	"Profit%" INTEGER,
	Unit VARCHAR(10) DEFAULT 'Piece',
	QtyOnHand INTEGER,
	ReorderLv1 INTEGER,
	SellPrice INTEGER,
	CostPrice INTEGER);
INSERT INTO PRODUCT VALUES('PoO1', 'T-shirts', 5, 'Piece', 200, 50, 350, 250);
INSERT INTO PRODUCT VALUES('P345', 'Shirts', 6, 'Piece', 150, 50, 500, 350);
INSERT INTO PRODUCT VALUES('P456', 'Jeans', 5, 'Piece', 100, 20, 600, 450);
INSERT INTO PRODUCT VALUES('P786', 'Trousers', 5, 'Piece', 100, 20, 950, 750);
INSERT INTO PRODUCT VALUES('P900', 'PullOvers', '2.5', 'Piece', 150, 50, 850, 550);
INSERT INTO PRODUCT VALUES('P231', 'Denims', 4, 'Piece', 80, 30, 600, 450);
INSERT INTO PRODUCT VALUES('P965', 'LycraTops', 5, 'Piece', 100, 40, 350, 250);
INSERT INTO PRODUCT VALUES('P780', 'Skirts', 5, 'Piece', 70, 30, 300, 175);

In [5]:
print(tsql.create_str)
print(tsql.insert_str)

CREATE TABLE PRODUCT(
	Pno VARCHAR(4) PRIMARY KEY,
	Description VARCHAR(20),
	"Profit%" INTEGER,
	Unit VARCHAR(10) DEFAULT 'Piece',
	QtyOnHand INTEGER,
	ReorderLv1 INTEGER,
	SellPrice INTEGER,
	CostPrice INTEGER);
["INSERT INTO PRODUCT VALUES('PoO1', 'T-shirts', 5, 'Piece', 200, 50, 350, 250);", "INSERT INTO PRODUCT VALUES('P345', 'Shirts', 6, 'Piece', 150, 50, 500, 350);", "INSERT INTO PRODUCT VALUES('P456', 'Jeans', 5, 'Piece', 100, 20, 600, 450);", "INSERT INTO PRODUCT VALUES('P786', 'Trousers', 5, 'Piece', 100, 20, 950, 750);", "INSERT INTO PRODUCT VALUES('P900', 'PullOvers', '2.5', 'Piece', 150, 50, 850, 550);", "INSERT INTO PRODUCT VALUES('P231', 'Denims', 4, 'Piece', 80, 30, 600, 450);", "INSERT INTO PRODUCT VALUES('P965', 'LycraTops', 5, 'Piece', 100, 40, 350, 250);", "INSERT INTO PRODUCT VALUES('P780', 'Skirts', 5, 'Piece', 70, 30, 300, 175);"]